<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/notFound.css">
    <link rel="shortcut icon" href="../images/Socialite square dark.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <div id="back">
        <img src="../images/errorImg.svg" alt="">
        <h3>Something went wrong</h3>
        <p>The page you are looking for does not exist. How you got here is a mystery. But you can click the button below to go back to the homepage.</p>
        <a href="/profile">Back to home</a>
    </div>
</body>
</html>