
@font-face {
    font-family: Product Sans;
    src: url('../Fonts/Product\ Sans\ Regular.ttf');
  }
@font-face {
    font-family: PB;
    src: url('../Fonts/Product\ Sans\ Bold.ttf');
}
  *{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Product Sans';
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(243, 243, 243);
    position: relative;
    height: auto;
}

a{
    text-decoration: none;
}
#hero{
    min-height: 100%;
    position: relative;
    background-color: transparent;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

#right{
    position: sticky;
    top: 75px;
    left: 0;
    width: 35%;
    height: calc(100vh - 75px);
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    box-shadow: 0px 0px 10px 3px rgba(97, 97, 97, 0.082);
    overflow-y: scroll;
}
#right::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #right{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
#mid{
    width: 55%;
    background-color: transparent;
    height: auto;
    margin-top: 20px;
}
.card50{
    padding: 20px 25px;
    box-shadow: 0px 0px 10px 3px rgba(97, 97, 97, 0.13);
    border-radius: 4px;
}

#newPost{

    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 30px;
}
#prflImg{
    width: 50px;
    height: 50px;
    background-position: center;
    object-fit: cover;
    border-radius: 50%;
}
#newPostForm{
    width: calc(100% - 70px);
}
#newPostForm form{
    width: 100%;
}
#newPostForm form textarea{
    width: 100%;
    height: 100px;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    resize: none;
    transition: border cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
    outline: none;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 15px;
}
#newPostForm form textarea::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #newPostForm form textarea{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
#newPostForm form textarea:focus{
    border: 1px solid rgb(27, 27, 27);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
}
#newPostForm form textarea::placeholder{
    color: rgb(148, 148, 148);
}
.wrapper {
    text-align: center;
    font-size: 14px;
  }
  .wrapper #file-input {
    display: none;
  }
  
  .wrapper label[for="file-input"] * {
    vertical-align: middle;
    cursor: pointer;
    font-size: 22px;
    color: rgb(36, 35, 35);
  }
  
  .wrapper label[for="file-input"] span {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .wrapper i.remove {
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    display: none;
  }
  
#formOpts{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
#postSubmitBtn{
    margin-left: 20px;
    width: 100px;
    height: 40px;
    border: none;
    color: rgb(216, 216, 216);
    background-color: rgb(36, 35, 35);
    border-radius: 4px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    letter-spacing: 1px;
}
#postSubmitBtn:hover{
    color: rgb(230, 230, 230);
    transition: all ease-in .3s;
    background-color: rgb(27, 27, 27);
}
#posts{
    width: 100%;
    min-height: 100vh;
    height: auto;
}
.post{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    height: auto;
    background-color: rgb(255, 255, 255);
}
.post:first-child{
    margin-top: 0px;
}
.postHeader{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.postHeader a img{
    width: 50px;
    height: 50px;
    background-position: center;
    object-fit: cover;
    border-radius: 50%;
}
.postHeaderDets{
    margin-left: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postHeaderDets h6{
    font-size: 17px;
    margin-bottom: 4px;
    color: rgb(41, 41, 41);
    font-weight: 600;
    display: flex;
    align-items: center;
}
.postHeaderDets h6 img{
    max-width: 15px;
    max-height: 15px;
    margin-left: 7px;
}
.postHeaderDets p{
    font-size: 13px;
    color: rgb(105, 105, 105);
}
.caption{
    margin-top: 15px;
}
.caption p{
    font-size: 16px;
    line-height: 22px;
    color: rgb(39, 39, 39);
}
.postImage{
    display: block;
    width: 100%;
    margin-top: 15px;
}
.postImage img{
    width: 100%;
    height: auto;
    max-height: 500px;
    background-position: center;
    object-fit: cover;
}
.postReactions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    font-size: 15px;
}
.likeIcon{
    font-size: 20px;
    color: #056BE1;
    margin-right: 7px;
}
.likeText{
    color: #056BE1 !important;
}
.postLikes{
    display: flex;
    align-items: center;
}
.postReactions p{
    color: rgb(48, 48, 48);
}
.postOptions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    border-top: 1px solid rgb(182, 182, 182);
    border-bottom: 1px solid rgb(182, 182, 182);
    font-size: 16px;
}
.postOpts{
    width: 33%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #636363;
    transition: all ease-out .3s;
}
.postOpts:hover{
    background-color: rgb(241, 241, 241);
    transition: all ease-in .3s;
}
.postOptsIcon{
    font-size: 17px !important;
    color: #707070 !important;
    margin-right: 10px;
}
.postOpts .fa-thumbs-up{
    font-size: 17px !important;
}
.postOptions button{
    border: none;
    outline: none;
    background-color: white;
    padding: 0px;
    cursor: pointer;
}
.postOptions button p{
    font-size: 16px !important;
}
.comments{
    width: 100%;
}
.comment{
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.commentUserProfile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;   
    background-position: center;
    object-fit: cover;
}
.commentDets{
    margin-left: 15px;
    width: 100%;
}
.commentDetsOpts{
    display: flex;
    align-items: center;
}
.commentDetsInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.commentDetsInfo button i{
    font-size: 15px !important;
}
.commentDets h6{
    font-size: 15px;
    color: rgb(49, 49, 49);
}
.commentDets p{
    font-size: 13px;
    color: rgb(105, 105, 105);
    margin-top: 4px;
}
.commentContent{
    width: 100%;
    margin-top: 7px;
}
.commentContent p{
    font-size: 15px;
    color: rgb(32, 32, 32);
    line-height: 21px;
}
.commentReactions{
    display: flex;
    align-items: center !important;
    color: #707070;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.commentReacts{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.commentReactions i{
    font-size: 14px;
    margin-right: 7px;
}
.commentReactions p{
    font-size: 14px;
    line-height: 0px;
}
.commentReactLen{
    margin-left: 15px;
    color: rgb(155, 155, 155) !important;
    font-size: 14px !important;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.addComment{
    display: flex;
    margin-top: 20px;
}
.addComment form{
    margin-left: 15px;
    width: calc(100% - 60px);
}
.addComment form textarea{
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    resize: none;
    transition: border cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
    outline: none;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 14px;
}
.addComment form textarea::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .addComment form textarea{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.addComment form textarea:focus{
    border: 1px solid rgb(27, 27, 27);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
}
.addComment form textarea::placeholder{
    color: rgb(148, 148, 148);
}
.addComment form input[type="submit"]{
    padding: 12px 19px;
    border: none;
    color: rgb(216, 216, 216);
    background-color: rgb(36, 35, 35);
    border-radius: 4px;
    font-size: 13px;
    transition: all ease-out .3s;
    cursor: pointer;
    margin-top: 7px;
}

.addComment form input[type="submit"]:hover{
    color: rgb(230, 230, 230);
    transition: all ease-in .3s;
    background-color: rgb(0, 0, 0);
}
.viewAllComments{
    color: rgb(105, 105, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    font-size: 15px;
    font-weight: 600;
}
.viewAllComments i{
    margin-left: 7px;
}
#postDelUpdate{
    width: 30%;
    height: auto;
    max-height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px 0px 0px 7000px rgba(0, 0, 0, 0.507);
    padding: 20px 25px;
    z-index: 9999999;
    border-radius: 5px;
    display: none;
}
.postUpdateHeader{
    font-size: 17px;
    color: rgb(29, 29, 29);
}
#postDelUpdate form{
    margin-top: 20px;
    width: 100%;
}
#postDelUpdate form textarea{
    width: 100%;
    height: 100px;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    resize: none;
    transition: border cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
    outline: none;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 15px;
}
#postDelUpdate form textarea:focus{
    border: 1px solid rgb(27, 27, 27);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
}
#postDelUpdate form textarea::placeholder{
    color: rgb(148, 148, 148);
}
.postUpdateOptsContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.postUpdateOpts{
    padding: 11px 25px;
    background-color: rgb(27, 27, 27);
    color: rgb(235, 235, 235);
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 400;
}
.postDelHeader{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.postDelHeader i{
    font-size: 58px;
    color: rgb(182, 71, 71);
}
.postDelHeader h3{
    margin-top: 20px;
    font-size: 19px;
}
.postDelAlert{
    text-align: center;
    font-size: 15px;
    color: rgb(87, 87, 87);
    line-height: 22px;
}
.postDelOptsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
}
.postDelOpts{
    padding: 11px 25px;
    background-color: rgb(27, 27, 27);
    color: rgb(235, 235, 235);
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 400;

}
#showReactions{
    width: 30%;
    height: auto;
    max-height: 70%;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px 0px 0px 7000px rgba(0, 0, 0, 0.507);
    padding: 15px 25px;
    z-index: 9999999;
    border-radius: 5px;
    display: none;
}
.showReactionsHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-bottom: 10px;
}
.showReactionUser{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.showReactionUserName{
    color: rgb(36, 36, 36);
    font-size: 15px;
    font-weight: 700;
}
.showReactionsNum{
    display: flex;
    align-items: center;
    justify-content: center;
}
#showReactionsTotal{
    font-size: 16px;
}
.showReactionUserImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.showReactionUserImg img{
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
}
#showReactionUser{
    display: flex;
    align-items: center;
}
#closeReactions{
    width: 40px;
    height: 40px;
    background-color: rgb(226, 226, 226);
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.showReactionsNum i{
    font-size: 20px;
    color: #056BE1;
    margin-right: 15px;
}
#errMsgDiv{
    width: 30%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px 0px 0px 7000px rgba(0, 0, 0, 0.507);
    padding: 25px;
    z-index: 9999999;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#errMsgDivHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#errMsgDivHeader i{
    font-size: 55px;
    color: rgb(190, 94, 94);
    margin-bottom: 15px;
}
#errMsgDivHeader h6{
    font-size: 21px;
    color: rgb(41, 41, 41);
    margin-bottom: 20px;
}
.messageErr{
    font-size: 16px;
    color: rgb(92, 92, 92);
    text-align: center;
    line-height: 23px;
}
#errMsgDivBtn{
    height: 45px;
    width: 130px;
    color: rgb(230, 230, 230);
    background-color: rgb(36, 35, 35);
    border: none;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-out .3s;
    margin-top: 20px;
}
#errMsgDivBtn:hover{
    color: rgb(230, 230, 230);
    transition: all ease-in .3s;
    background-color: rgb(0, 0, 0);
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: rgb(240, 240, 240);
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(34, 34, 34) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip i{
      font-size: 17px;
      color: rgb(190, 190, 190);
      transition: color cubic-bezier(0.39, 0.575, 0.565, 1) .3s;
  }
.tooltip button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px 6px;
}
.tooltip button:hover i{
    transition: color cubic-bezier(0.39, 0.575, 0.565, 1) .3s;
    color: rgb(41, 41, 41);
}
.tooltip button .fa-trash-alt{
    margin-left: 10px !important;
}
.frndLink{
    padding: 14px 22px;
    background-color: rgb(31, 31, 31);
    color: rgb(238, 238, 238);
    font-size: 14px;
    border-radius: 4px;
}
#friendLinks{
    margin-top: 30px;
}
.chatLink{
    margin-left: 15px;
}
.rightHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.rightHeader h6{
    font-size: 17px;
    color: rgb(27, 27, 27);
}
.rightHeader a{
    font-size: 14px;
    color: gray;
}
.chatsList{
    margin-bottom: 20px;
}
.list{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 7px 5px;
    border-bottom: 1px solid rgb(233, 233, 233);
    transition: all ease-out .3s;
}
.bdayList{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 7px 5px;
    border-bottom: 1px solid rgb(233, 233, 233);
    transition: all ease-out .3s;
}
.list:hover , .bdayList:hover{
    background-color: rgb(248, 248, 248);
    transition: all ease-in .3s;
}
.list:first-child , .bdayList:first-child{
    border-top: 1px solid rgb(233, 233, 233);
}
.listImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
}
.listName{
    font-size: 14px;
    color: rgb(44, 44, 44);
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.listName img{
    max-width: 14px;
    max-height: 14px;
    margin-left: 7px;
}
.notAvailable{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.notAvailable h5{
    font-size: 15px;
    font-weight: 300;
}
.notAvailable a{
    padding: 12px 20px;
    background-color: rgb(27, 27, 27);
    color: rgb(243, 243, 243);
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
}
.birthDayContainer{
    width: 100%;
    margin-bottom: 20px;
}
.birthdayListLeft{
    display: flex;
    align-items: center;
}
.birthdayListRight{
    padding: 11px 20px;
    background-color: rgb(27, 27, 27);
    color: rgb(243, 243, 243);
    font-size: 13px;
    border-radius: 5px;
}
.keyBtn{
    margin-right: 20px;
    height: 35px;
    width: 35px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 17px;
    cursor: pointer;
}
#suggestions{
    background-color: white;
    padding: 30px;
    margin-top: 30px;
}
#suggestions h6{
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
.suggestion{
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    color: rgb(61, 61, 61);
}
.suggestion .dot{
    width: 8px;
    height: 8px;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
    margin-right: 10px;
}
.suggestion p{
    font-size: 15px;
}
.suggestion p a{
    color: black;
    font-weight: 600;
}
.noPosts{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 30px;
}
.noPosts img{
    max-height: 200px;
}
.noPosts h6{
    margin-top: 30px;
    font-size: 18px;
}
.noPosts p{
    margin-top: 20px;
    text-align: center;
    color: rgb(112, 112, 112);
    font-size: 15px;
    line-height: 23px;
}
.noPosts button{
    width: 160px;
    height: 40px;
    margin-top: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: rgb(36, 35, 35);
    color: rgb(245, 245, 245);
    cursor: pointer;
}
.mobPostLikes{
    display: none;
}
#showMoreDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
#showMoreDiv button{
    padding: 14px 25px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: rgb(36, 35, 35);
    color: rgb(245, 245, 245);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 30px 0px;
}
#showMoreDiv button i{
    margin-left: 10px;
    font-size: 17px;
}
.loader {
    border: 7px solid #e0e0e0;
    border-radius: 50%;
    border-top: 7px solid rgb(36, 35, 35);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 30px 0px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



@media (min-width: 992px){
    #hero {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    #hero {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 600px) {
    #hero{
        padding-left: 10px;
        padding-right: 10px;
    }
    #right{
        display: none;
    }
    #mid{
        width: 100%;
    }
    #main{
        width: 100%;
    }
    .card50>h4{
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }
    .card50{
        padding: 20px 15px;
    }
    
    #allPosts{
        width: 100%;   
    }
    #newPost{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #prflImg{
        width: 35px;
        height: 35px;
    }
    #newPostForm{
        width: calc(100% - 45px);
    }
    #newPostForm form textarea{
        height: 100px;
        font-size: 14px;
    }
    #selEmoji{
        display: none;
    }
    .wrapper{
        max-width: calc(100% - 120px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    #postSubmitBtn{
        margin-left: 15px;
        width: 100px;
        height: 40px;
        font-size: 14px;
        letter-spacing: 1px;
    }
      /* .wrapper label[for="file-input"] span {
        font-size: 14px;
        width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      } */
      .wrapper i.remove {
        font-size: 20px;
      }
      #posts{
        width: 100%;
    }
    .post{
        margin-top: 20px;
        padding: 15px 10px !important;
    }
    .post:first-child{
        margin-top: 0px;
    }
    .postHeader a img{
        width: 40px;
        height: 40px;
    }
    .postHeaderDets{
        margin-left: 10px;
    }
    .postHeaderDets h6{
        font-size: 15px;
        margin-bottom: 3px;
    }
    .postHeaderDets p{
        font-size: 12px;
    }
    .caption{
        margin-top: 10px;
    }
    .caption p{
        font-size: 15px;
        line-height: 22px;
    }
    .postImage{
        margin-top: 10px;
    }
    .postReactions{
        margin: 10px 0px;
        font-size: 15px;
    }
    .likeIcon{
        font-size: 20px;
    }
    .postLikesContainer{
        max-width: calc(100% - 100px);
    }
    .postReactions p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .postOpts{
        font-size: 14px;
    }
    .postOptsIcon{
        font-size: 14px !important;
    }
    .postOpts .fa-thumbs-up{
        font-size: 17px !important;
    }
    .postOptions button{
        padding: 0px;
    }
    .postOptions button p{
        font-size: 14px !important;
    }
    .commentUserProfile img{
        width: 35px;
        height: 35px;
    }
    .commentDets{
        margin-left: 10px;
    }
    .commentDetsInfo button i{
        font-size: 14px !important;
    }
    .commentDetsInfo button .fa-trash-alt{
        margin-left: 20px !important;
    }
    .commentDets p{
        font-size: 12px;
        margin-top: 4px;
    }
    .commentContent p{
        font-size: 15px;
        line-height: 22px;
    }
    .commentReactions i{
        font-size: 15px;
    }
    .commentReactions p{
        font-size: 15px;
        line-height: unset;
    }
    .addComment form{
        width: calc(100% - 50px);
    }
    .addComment form textarea{
        width: 100%;
        height: 60px;
        font-size: 14px;
    }
    .tooltip button{
        padding: 0px;
    }
    .tooltip button i{
        font-size: 15px;
    }
    .tooltip button .fa-trash-alt{
        margin-left: unset;
    }

    .tooltiptext{
        display: none;
    }
    .postLikeNames{
        display: none;
    }
    .mobPostLikes{
        display: flex;
    }
    #showReactions{
        width: 90%;
        max-height: 80%;
        padding: 15px;
    }
    .showReactionsHeader{
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
    .showReactionUser{
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    .showReactionUserName{
        font-size: 14px;
    }
    #showReactionsTotal{
        font-size: 15px;
    }
    .showReactionUserImg{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .showReactionsNum i{
        font-size: 18px;
        margin-right: 10px;
    }
    #postDelUpdate{
        width: 95%;
        max-height: 80%;
        padding: 15px;
    }
    .postUpdateHeader{
        font-size: 15px;
    }
    .postDelHeader i{
        font-size: 50px;
    }
    .postDelHeader h3{
        margin-top: 15px;
        font-size: 17px;
    }
    .postDelOptsContainer{
        margin-top: 20px;
    }
    #errMsgDiv{
        width: 95%;
        padding: 20px 15px;
    }
    #errMsgDivHeader i{
        font-size: 50px;
    }
    #errMsgDivHeader h6{
        font-size: 16px;
    }
    .messageErr{
        font-size: 15px;
    }
    .noPosts{
        padding: 20px 15px;
        margin-top: 20px;
    }
    .noPosts img{
        max-height: 160px;
    }
    .noPosts h6{
        font-size: 16px;
    }
    .noPosts p{
        font-size: 14px;
    }
    #suggestions{
        padding: 20px 15px;
        margin-top: 20px;
    }
    #suggestions h6{
        font-size: 16px;
    }
    .suggestion .dot{
        width: 8px;
        height: 8px;
        background-color: rgb(39, 39, 39);
        border-radius: 50%;
        margin-right: 10px;
    }
    .suggestion p{
        font-size: 14px;
        line-height: 22px;
        max-width: calc(100% - 20px);
    }

}

@media only screen and (min-width: 601px) and (max-width: 991px) {
    #right{
        display: none;
    }
    #mid{
        width: 100%;
    }
    #main{
        width: 100%;
    }
    .card50{
        padding: 20px;
    }
    .card50>h4{
        font-size: 19px;
        margin-bottom: 20px;
        text-align: center;
    }
    #allPosts{
        width: 100%;   
    }
    #posts{
        width: 100%;
    }
    .addComment form input[type="submit"]{
        padding: 0px;
        height: 40px;
        width: 150px;
        font-size: 14px;
    }
    .caption p{
        font-size: 16px;
        line-height: 23px;
    }
    .commentDets p{
        font-size: 15px;
        margin-top: 4px;
        line-height: 22px;
    }
    .postReactions{
        font-size: 16px;
    }
    .likeIcon{
        font-size: 22px;
    }
    .commentReactions i{
        font-size: 15px;

    }
    .commentReactions p{
        font-size: 15px;
    }
    .commentReactLen{
        font-size: 15px !important;
    }
    #postDelUpdate{
        width: 55%;
        max-height: 80%;
        padding: 25px;
    }
    .postUpdateHeader{
        font-size: 15px;
    }
    .postDelHeader i{
        font-size: 53px;
    }
    .postDelHeader h3{
        font-size: 19px;
    }
    .postUpdateHeader{
        font-size: 19px;
    }
    .postDelOpts{
        padding: 13px 27px;
        font-size: 15px;
    }
    .postDelAlert{
        font-size: 16px;
        line-height: 24px;
    }
    #postDelUpdate form textarea{
        width: 100%;
        height: 150px;
        font-size: 15px;
        line-height: 22px;
    }
    .postUpdateOptsContainer input[type="submit"]{
        width: 100px;
        height: 40px;
    }
    #newPost{
        margin-top: 30px;
    }
    .wrapper {
        max-width: calc(100% - 180px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .wrapper i.remove {
        font-size: 16px;
      }
      #showReactions{
        width: 55%;
    }
    .showReactionUser{
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    .showReactionUserName{
        font-size: 15px;
    }
    #showReactionsTotal{
        font-size: 17px;
    }
    .showReactionsNum i{
        font-size: 18px;
    }
    .postImage img{
        max-height: 600px;
    }
    #errMsgDiv{
        width: 60%;
    }
    #errMsgDivBtn{
        height: 45px;
        width: 130px;
        font-size: 14px;
    }
    .noPosts button{
        width: 180px;
        height: 45px;
        font-size: 14px;
    }
}